.header{
  width: 100%;
  height: 60px;

  color: rgb(58, 59, 60);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  



}
.Logo{
  font-size: 17px;
  position: absolute;
  left: 20px;
  font-weight: 800;
  color: aliceblue;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.Logo h2{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.Logo h2 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.nav-list{
  display: flex;
  position: absolute;
  gap: 20px;
  font-size: 17px;
  font-weight: 600;
  list-style: none;
  margin-top: 10px;
  right: 40px;
  
}
.nav-list li{
  
    cursor: pointer;

  
   
    color: white;
    
    
}
.nav-list li:hover{
   color: blueviolet;
   transition: all ;
   transform: scale(1px);
}
.App{
  background: radial-gradient(rgb(123, 102, 216), rgba(148, 61, 211, 0.822), rgb(75, 17, 113) );
  min-height: 100vh;

}

.profile{
  margin-top: 30px;
  height: 600px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  color: white; 
  position: relative;
  

}

.profile-card{
  width: 100%;
  margin-top:60%;
  height: 60%;
  background-color: rgb(149, 48, 156);
  border-radius: 50px;
  box-shadow: 2px 2px 20px rgb(49, 49, 49);
  
}
.profile-pic{

  width: 400px;
  height: 400px;
  border-radius: 50%;

  position: absolute;
  top: 10px;
  left: calc(50% - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.632) ;
  cursor: none;
 

}
.pic-card{
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  
}
.pic-circle{
  width: 290px;
  height: 290px;
  border-radius: 50%;
  background-color: rgb(199, 199, 199);
}
.pic-circle img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.profile-detail{
    position: absolute;
  width: 100%;
  height: 150px;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-detail h2{
  margin: 0;
  padding: 0;
}
.profile-detail p{
  margin: 3px 0;
  padding: 0;
  font-size: 18px;
  font-weight:600;
   border-bottom: 1px solid white;
   color: burlywood;
  text-align: center;
}
.profile-link{
  margin-top: 15px;
  display: flex;
  gap: 20px;

}

.profile-link #link{

 cursor: pointer;

 
}

.profile-link #link:hover{
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
 
}
.about-section{
  width: 100%;
  height: 80vh;
  margin-top: 50px;
  color: white;
    background-image: url("./assets/pic2.png") ;
  background-size: cover;
 

}
.about-section h2{
  text-align: center;
  padding-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  p{
  width: 60%;
  margin: auto;
  margin-top: 20px;
  font-size: 17px;
  line-height: 1.6;
  text-align: center;
}
.about-content{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 40px;
  width: 80%;

  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 350px;


}
.personal-details{
 height: 379px;
 width: 484px;
}
.my-interest{
  height: 379px;
 width: 600px;
}
.personal-details ul{
  list-style: none;
  padding: 0;
  width: 90%;

  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

}

.personal-details ul li{
  margin-left: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 margin-top: 5px;
  gap: 20px;

 background-color: #a600ffc7;
 width: fit-content;
 padding: 0px 5px;
 border-radius: 5px;
 

}
.personal-details ul li:hover{
  background-color: burlywood;
  transform: scale(1.05);
  transition: 0.5s;
  cursor: pointer;
}
.personal-details ul li strong{
 color: rgb(255, 255, 255);
}
.personal-details ul li span{
  font-weight: 500;
  font-size: 13px;
  color: rgb(255, 255, 255);
}


.my-interest h2{
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  
}
.interest-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  margin-left: auto;
  margin-right: auto;

  width: 90%;
  height: 250px;
}
.Box1{
  height: 80px;
  width: 120px;
  background-color: rgb(214, 33, 166);
  display: flex;
 flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(117, 117, 117);
  
  
}
.Box1:hover{
 transform: scale(0.8);
transition-duration: 0.7s;
opacity: 0.8;

}
.Box1 #box-child{
  margin-top: 5px;
}
.Box1 p{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  
}
.Skill-section{
  width: 100%;
  height:200px;
  min-height: fit-content;
 
  

}
.Skill-section h2{
  margin: 0px auto;
  margin-top: 20px;
  color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-left: 2px solid white;
  border-right: 2px solid white;
  width: 360px;
  padding: 0px 20px;

}
.Skill-section .Skill-box{
  width: 80%;
  height: 120px;
 margin: 20px auto 0px auto;
  border: none;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
  background-color: rgba(255, 255, 255, 0.529);
  
  
}
.project-section{
  margin-top: 30px;
  width: 100%;
  min-height: 300px;
  height: fit-content;
  border: none;
   background-image: url("./assets/pic1.png");
  background-size:contain;
 
}
.project-section h2{
  text-align: center;
  width: fit-content;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 5px auto 5px auto;
  font-weight: bold;
}
.project-container{
  width: 100%;
  min-height: 250px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
 
}
.project-box{
  width: 300px;
  height: 200px;

  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
  box-shadow: 2px 5px 10px rgb(52, 51, 51);
}
.project-box h4{
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
.project-box p{
  font-size: 13px;
  text-align: center;
  font-weight: 600;

}
.project-box .tags{
  display: flex;
  gap: 10px;
 
}
.project-box .tags p{
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
  text-align: center;
   font-size: 12px;
}
.project-box .p-linkBox{
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  gap: 10px;
}
.project-box .p-linkBox a{
  text-decoration: none;
  cursor: pointer;
 color: black;
}
.Contact-section{
  width: 100%;
  min-height: 500px;
  height: fit-content;
   background-image: url('./assets/pic1.png');
 
  background-size: contain;

}
.Contact-section .ContactBox{
  height: 450px;
  width: 700px;
  min-height: fit-content;

  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-image: url('./assets/pic3.png');
  backdrop-filter: blur(2px);
  background-size: cover;
}
.Contact-section .ContactBox h2{
   backdrop-filter: blur(2px);
   color: white;
   border-bottom: 2px solid white;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 350px;
  width: 400px;
  z-index: 99;
   background-color: rgba(250, 250, 250, 0.595);
   border-radius: 10px;

  position: relative;
}
#in-title{
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  background-color: rgba(39, 255, 205, 0.774);
  color: aliceblue;
  padding: 0px 5px ;
  border-radius: 2px;
 
}
.form input{
  width: 90%;
  height: 40px;
  outline: none;
  border: none;
  background: none;
   color: white;
   
  
}
.form  textarea{
  width: 90%;
  height: 40px;
  outline: none;
  border: none;
  background: none;
   
}
.form .Line{
  width: 90%;
  border-bottom: 3px solid black;
  margin-bottom: 20px;
  background: transparent;

}
.form .Line:hover{
 border-bottom: 3px solid  rgba(39, 255, 205, 0.774);
  transition: all 0.5s initial;
  
  
}
.form button{
  width: 90%;
  height: 30px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}