.header{
  width: 100%;
  height: 60px;

  color: rgb(58, 59, 60);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  



}
.Logo{
  font-size: 17px;
  position: absolute;
  left: 20px;
  font-weight: 800;
  color: aliceblue;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.nav-list{
  display: flex;
  position: absolute;
  gap: 20px;
  font-size: 17px;
  font-weight: 600;
  list-style: none;
  margin-top: 10px;
  right: 40px;
  
}
.nav-list li{
  
    cursor: pointer;

  
   
    color: white;
    
    
}
.nav-list li:hover{
   color: blueviolet;
   transition: all ;
   transform: scale(1px);
}
.App{
  background: radial-gradient(rgb(123, 102, 216), rgba(148, 61, 211, 0.822), rgb(75, 17, 113) );
  min-height: 100vh;
}

.profile{
  margin-top: 30px;
  height: 600px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid transparent;
  color: white; 
  position: relative;
  

}
.profile-card{
  width: 100%;
  margin-top:60%;
  height: 60%;
  background-color: rgb(149, 48, 156);
  border-radius: 50px;
  box-shadow: 2px 2px 20px rgb(49, 49, 49);
  
}
.profile-pic{

  width: 400px;
  height: 400px;
  border-radius: 50%;

  position: absolute;
  top: 10px;
  left: calc(50% - 200px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.632) ;
  cursor: none;
 

}
.pic-card{
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  
}
.pic-circle{
  width: 290px;
  height: 290px;
  border-radius: 50%;
  background-color: rgb(199, 199, 199);
}
.pic-circle img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.profile-detail{
    position: absolute;
  width: 100%;
  height: 150px;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-detail h2{
  margin: 0;
  padding: 0;
}
.profile-detail p{
  margin: 3px 0;
  padding: 0;
  font-size: 18px;
  font-weight:600;
   border-bottom: 1px solid white;
   color: burlywood;
  text-align: center;
}
.profile-link{
  margin-top: 15px;
  display: flex;
  gap: 20px;

}

.profile-link #link{

 cursor: pointer;

 
}
.profile-link #link:hover{
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
 
}
.about-section{
  width: 100%;
  height: 80vh;
  margin-top: 50px;
  color: white;
 background: linear-gradient(135deg, #020617c7, #0ea4e9cd);

}
.about-section h2{
  text-align: center;
  padding-top: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.about-section p{
  width: 60%;
  margin: auto;
  margin-top: 20px;
  font-size: 17px;
  line-height: 1.6;
  text-align: center;
}
.about-content{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  height: 350px;


}

.personal-details ul{
  list-style: none;
  padding: 0;
  width: 90%;

  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

}

.personal-details ul li{
  margin-left: 40px;
  font-size: 16px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
 display: flex;
 justify-content: flex-start;
 align-items: center;
 margin-top: 5px;
  gap: 20px;

 
 

}
.personal-details ul li strong{
 color: rgb(84, 201, 211);
}
.personal-details ul li span{
  font-weight: 500;
  font-size: 13px;
  color: rgb(207, 211, 214);
}


.my-interest h2{
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
  
}
.interest-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 15px;
  margin-left: auto;
  margin-right: auto;

  width: 90%;
  height: 250px;
}
.Box1{
  height: 80px;
  width: 120px;
  background-color: rgb(214, 33, 166);
  display: flex;
 flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(117, 117, 117);
  
  
}
.Box1 #box-child{
  margin-top: 5px;
}
.Box1 p{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  
}