@media  (max-width: 480px){

  
    

.Skill-section h2{
    width: 300px;
}
  .Skill-section{
      margin-top: 500px;
    }

.Skill-section .Skill-box{
    width: 100%;
   

}

.about-section{
   width: 100%;
   background: transparent;

}
.about-content{
width: 100%;
  

}
.personal-details{
   background-image: url("./assets/pic2.png");
 background-size:cover;
}
.my-interest{
     background-image: url("./assets/pic2.png");
 background-size:cover;
}

.project-container{
    width: 100%;
    min-height: 800px;
    height: fit-content;
    gap: 20px;
    
}

.Contact-section .ContactBox{
    width: 100%;
}



}
    
